body {
	background-color: #efefef;
}
.g-hd {
	height: 130px;
}
.g-in {
    width: 1000px;
    height: 130px;
    margin: 0 auto;
}
.m-logo {
    float: left;
    width: 300px;
    height: 60px;
    background-position: -50px -18px;
    margin-top: 35px;
}
.spritebg {
    background-image: url(../img/register/sprite.png);
}
.m-tr-block {
    float: right;
    font-size: 18px;
    margin-top: 50px;
}
.m-tr-block a {
    text-decoration: none;
    color: #ca5252;
}
.g-bd {
    position: relative;
    width: 1000px;
    min-height: 835px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 3px #cbc9c9;
}
.top_tlt {
    color: rgb(202, 82, 82);
    padding: 44px 0px 0px 70px;
    font: 24px "Microsoft YaHei", 微软雅黑, 宋体, helvetica, "Hiragino Sans GB";
}
.m-opr {
    height: 620px;
    margin-top: 40px;
}
.u-label {
    float: left;
    width: 340px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}
.i-inpt {
	float: left;
    height: 44px;
    width: 320px;
    margin-top: 12px;
    border: solid 1px #ddd;
    font-size: 16px;
    text-indent: 0.5em;
}
.gjsj {
	margin-left: 340px;
	margin-top: 20px;
	line-height: 20px;
	color: #999;
}
.gjsj a {
	    color: #4cb5ff;
}
.sms {
	width: 192px;
}
.getsms {
	float: left;
    height: 46px;
    width: 120px;
    font-size: 16px;
    line-height: 46px;
    margin: 12px 0 0 10px;
    color: #fff;
    background: #9ec5e3;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
    background-color: #a1d1f6;
}
.register {
    background: #ca5252;
    opacity: 0.6;
    margin-top: 30px;
}
.tips {
	border: 0;
    color: #b1b1b1;
    float: left;
    font-size: 12px;
}

.g-ft {
	padding: 30px 0;
}
.g-ft p {
	padding-bottom: 10px;
    text-align: center;
    color: #b1b1b1;
}
.g-ft a {
	color: #b1b1b1;
}

